body {
  font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.userProfileNav{
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin-left: 20px;
}

.kep-login-facebook.metro{
  border-radius: 30px !important;
  width: 500px !important;
  height: 229px !important;
  font-size: 30px !important;
}

.activeListName{
  margin: 20px;
}

#root{
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

#loginContainer{
  position: absolute;
  top: 30%;
  left: 32%;
  z-index: 99999999;
}

.barsIcon {
  display: inline-block !important;
}

.listTabTrash {
  font-size: 53px;
  margin-left: 20px;
  cursor: pointer;
}

.listTabAside{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.activeListNameContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerContainer {
  background-color: #FFBD00;
  color: white;
  font-size: 20px;
  font-weight: 200;
  line-height: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listContainer{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.listTab{
  color: #262626;
  font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2.5px solid #FFBD00;
  border-radius: 20px;
  margin: 10px;
}

#avatar{
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  margin-top: 8px;
  margin-left: 6px;
}

#userNameListContainer{
  margin-left: 12px;
  display: inline-block;
  line-height: 5px;
  height: 5px;
  vertical-align: text-bottom;
  font-size: 22px;
  padding-top: 3.7px;
}

.arrowCustom{
  line-height: 5px;
  height: 5px;
  vertical-align: text-bottom;
  padding-bottom: 20px;
  margin-left: 5px;
}

.fa-bell{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

#createListButton{
  color: #328ad6;
  padding-top: 3px;
  vertical-align: text-bottom;
  line-height: 5px;
  margin-left: 42px;
  font-size: 15px;
  font-weight: 200;
  display: none;
}

.fa-plus{
  color: #328ad6;
  font-size: 90px !important;
  margin-top: 25px;
  cursor: pointer;
}

.fa-large{

}

#createListButtonContainer{
  border-top: 1px solid rgba(0,0,0,0.1);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#createListPopup{
  text-align: center;
  background-color: #fff;
  color: black;
  width: 460px;
  height: 200px;
  position: absolute;
  left: 36%;
  top: 33%;
  z-index: 20;
  border-color: #328ad6;
  border-style: solid;
  border-radius: 3px;
}

#listNameInput{
  width: 80%;
  display: block;
  margin-left: 10%;
}

#cancelButton{
  display: inline-block;
  float: right;
  width: 130px;
  height: 30px;
  background: #fafafa;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #d6d6d6;
  color: #737272;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  padding: 8px 12px;
}

#saveButton {
  display: inline-block;
  float: right;
  width: 130px;
  height: 30px;
  background-color: #328ad6;
  border-color: #328ad6;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #328ad6;
  color: #fff;
  /*opacity: .5*/
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
  margin-left: 10px;
  margin-right: 14%;
}

#listForm{
  text-align: center;
}

.overlay{
  background-color: grey;
  opacity: .3;
}

#popupUsername{
  font-size: 13px;
  margin-left: 8px;
}

#popupEmail{
  font-size: 10px;
  margin-left: 69px;
  margin-bottom: 13px;
}

#popupAvatar{
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  float: left;
  margin-left: 35px;
}

.listNameTab{
  display: inline-block;
  margin-left: 15px;
}

#listNameHeader{
  margin-left: 20px;
  color: black;
}

.headerBars{
  display: inline-block;
  color: white;
  margin-left: 12px;
  margin-top: 20px;
}

.headerMagnify{
  display: inline-block;
  color: white;
  margin-right: 18px;
  margin-top: 23px;
  float: right;
}

#activeListContainer{
  background-color: #81BCB8;
  height: 100%;
  width: 100%;
  height: 92vh;
  width: 76vw;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

input[id="task_name_input"]::-webkit-input-placeholder {
  color: white;
  /*padding-left: 12px;*/
}

input[name="task_name_input"]{
  color: white;
  margin-left: 12px;
}

#monsterPng{
  height: 40vh;
  width: auto;
  position: absolute;
  bottom: 0;
}

.taskNameTab{
  height: 47px;
  width: 74vw;
  background: #fff;
  list-style: none;
  height: 46px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.taskTabContainer{
  margin-top: 2px;
}

.fa-square-o{
  margin-right: 20px;
  margin-left: 15px;
}

#taskButton{
  background-color: white;
  border-color: white;
  border-radius: 18px;
}

#newTaskFormContainer{
  margin-right: 20px;
  margin-left: 20px;
}
