#create_list_popup{
  text-align: center;
  background-color: #fff;
  color: black;
  width: 460px;
  height: 200px;
  position: absolute;
  left: 36%;
  top: 20%;
  z-index: 20;
  border-color: #fff;
  border-style: solid;
  border-radius: 3px;
}
